/* css styles */



/* Hero */
.hero-banner {
    position: relative;
    display: flex;
    justify-content: left;
  }


.hero-banner h1 {
    color: #ffffff;
    font-size: 4rem;
    position: relative;
  }

.hero-banner h2 {
    color: #7e8083;
    font-size: 3rem;
  }


.hero-banner .hero-image {
    position: absolute;
    display: none;
    height: auto;
}

  
.hero-banner .content-block .hero-text {
    color: #7e8083;
    width: 100%;
}







/***** Experiencia laboral *****/ 
.accordion-item {
  background-color: #2a383b;
  border: 0px solid #2a383b;
}


/***** Educación *****/ 
/* Disminuir el espacio entre el titulo y las tarjetas */
.py-5 {
  padding-top: 0rem !important;
  padding-bottom: 3rem !important;
}

